* {
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

table,
th,
td {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  border: 1px solid black;
  overflow: hidden;
}

.tableStyle {
  table-layout: fixed;
  width: 100%;
}

.Add,
.Edit,
.Delete {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(232, 240, 243);
}
.Add {
  margin: 5px;
  margin-bottom: 5px;

  color: green;
}

.Edit {
  margin-top: 10px;
  color: rgb(3, 3, 180);
}

.Delete {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}

.Add:hover,
.Edit:hover,
.Delete:hover {
  cursor: pointer;
  opacity: 0.7;
}

.RR {
  /* height: 20px;
  width: 20px; */
}

.show-read-more .more-text {
  display: none;
}
.cen {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.BB {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.BB:hover {
  cursor: pointer;
  opacity: 0.7;
}
form {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
.TA {
  margin: 2px;
}

form > input {
  width: 30%;
}
form > textarea {
  width: 30%;
}
